#fm-description {
    margin-top: 16px;
    margin-bottom: 25px;
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 200%;
    .row:first-child{
        margin-bottom: 16px;
    }
}