@import "../../../../assets/css/variable";

#framer-header-top{
    background-color: $bg_header;
    min-height: 32px;
    line-height: 32px;
    color: $color_white;
    height: 32px;
   li{
        display: inline-block;
        padding-right: 30px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
       a{
           color: $color_white;
           text-decoration: none;
       }
   }
}