<header>
  <div class="container-fluid" id="framer-header-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
            <li>
              <a href="">About Us</a>
            </li>
            <li>
              <a href="">Advertisement</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <ul>
            <li>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-menu></app-menu>
</header>