@import "../../../../assets/css/variable";

#framer-header-top{
    background-color: $bg_header;
    min-height: 32px;
    line-height: 32px;
    color: $color_white;
    height: 32px;
    nav{
        height: 32px;
    };
    .navbar-brand, a{
        color: $color_white;
        font-size: 14px;
    }
}