<div class="row">
    <div class="container text-center">
        <h2>Graphic resources for everyone</h2>
        <div class="sm-desription">
            Get graphic Vectors, Stock Photos, PSD and Icons 
        </div>
        <div class="input-group" id="i-get-url">
            <input type="text" class="form-control">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                  Get link 
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </span>
            </div>
          </div>
    </div>
</div>