<div class="row">
    <div class="container text-center">
        <img class="img-file" src="./../../../assets/images/logo.png" alt="">
        <div class="lb-link">freepik.com - 6207578</div>
        <div class="gr-buttons">
          <button type="button" class="btn btn-primary">Download file <i class="fa fa-download" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-primary">Get file mới <i class="fa fa-file" aria-hidden="true"></i></button>
        </div>
    </div>
</div>