<div class="row">
    <div class="container text-center">
        <img class="img-file" src="./../../../assets/images/logo.png" alt="">
        <div class="lb-link">{{file?.urlClone ? ((file?.urlClone | dotdotdot:20) + ' - ') : ''}}{{file?.code}}</div>
        <div class="lb-notify" *ngIf="isShowNotifyWaiting">
          Hệ thống đang get file, thường sẽ không quá 10 phút, bạn hãy kiểm tra phần 
          <a style="font-weight: bold;" routerLink="/user/history-get" >lịch sử</a>
          để tải file về
        </div>
        <div class="gr-buttons">
          <button type="button" class="btn btn-primary" *ngIf="!isDownload" [disabled]="isDownloading" (click)="onDownload()">
            {{textDownload}}
            <i *ngIf="!isDownloading" class="fa fa-download" aria-hidden="true"></i>
            <i *ngIf="isDownloading" class="fa fa-spinner" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-primary" (click)="onRedirect()" >Get file mới <i class="fa fa-file" aria-hidden="true"></i></button>
        </div>
    </div>
</div>